<!doctype html>
<!--<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basicproject</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
</body>
</html> -->


<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>
</head>
<body ng-app="myapp">

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">JOBOARD</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">HOME</a></li>
        <li><a href="#">JOB SEARCH</a></li>
        <li><a href="#">POST A JOB</a></li>
        <li><a href="#"> POST A RESUME</a></li?
      </ul>
    </div>
  </div>
</nav>


<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Jobictionary!!!</h3>
  <form>
          <label> Search</label>
          <input type="text" placeholder="HR Manager, Software Engineer" size="55" data-ng-model="skills">
          <label >     - Location</label>
          <input type="text"placeholder="Chennai Pune" data-ng-model="location">
  </form>
  <br><br>
  <div ng-controller="myctrl">
  <a href="#" class="btn btn-default btn-lg" ng-click="show()">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
 </div>

 <app-root> loading...</app-root>

</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
        <!--<p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p> -->
</footer>

<script>
angular.module('myapp', [])
  .controller('myctrl', ['$scope', function($scope) {
    $scope.count = 0;
    $scope.show = function() {
    };
  }]);
</script>


</body>
</html>

